body{
	background-color: white;
	margin: 0;
	padding: 0;
	height: 100vh;
}



.ball1{
	position: absolute;
	top: 100px;
	left: 100px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: blue;
}
.field{
	height: 100vh;
}

.whole-col{
	display: inline-block;
	height: 100%;
}

.left-col,.right-col{

	min-width: 20%;
	background-color: pink;
}

.left-col{
	float: left;
}


.right-col{
	float: right;
}

.mid-col{
	width: calc(100vh/9);
}